@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



body{
  margin: 0;
  padding: 0;
  font-family:"Montserrat", sans-serif; 
  background-image: url(images/marbreR\ .jpg);
  background-size: cover;
  opacity: 90%;

}

/*
#background-video {
height: 100vh;
width: 100vw;
object-fit: cover;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: -1;
opacity: 90%;
} */

nav{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #FFFF;
  margin-bottom: 30px;
  padding:30px;
  
  
}
.titre1 h1{
  color:#abc4ff; 
  font-family: 'Audiowide', sans-serif; 
  font-size:40px;
  text-align: center;
  margin-bottom:50px;
  margin-left: 30px;
  margin-right: 30px;
  
}


a:hover {
  background-color:#FFFF;
}

/* partie body */
li a{
  text-decoration: none;
  margin-right: 5px;
  display:inline;
  border-radius: 30%;
  font-family: 'Audiowide', sans-serif; 
  padding: 18px;
  font-size: 30px;
  margin-left: 30px;
  margin-right:30px;
 /* text-shadow: 0 0 10px #479063,
  0 0 20px #479063,
  0 0 40px #479063,
  0 0 80px #479063,
  0 0 120px #479063; */

}
.titre1 li{
  display: inline;
  
}

.titre1 a{
   
  color:#5596e6;
  text-decoration: none;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}



.box p{
  color:#5596e6;
  font-family: 'Red Hat Display', sans-serif;
  
  font-size: 20px;
  font-weight: 0.1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 0 0 10px #bbd5f5,
    0 0 20px #bbd5f5,
    0 0 40px #bbd5f5,
    0 0 80px #bbd5f5,
    0 0 120px #bbd5f5;
  margin-left: 30px;
  margin-right: 30px;
  margin-top:100px;

}


.box {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #131515;
  background-color: #FFFF;
  border:10px;
  border: solid;
  opacity: 90%;

}




.box p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20%;
}

.gallery a  {
   font-size: 20px;
  color: #FFFF;
  text-shadow: 0 0 10px #0a3c79,
  0 0 20px #0a3c79,
  0 0 40px #0a3c79,
  0 0 80px #0a3c79,
  0 0 120px #0a3c79;
}



footer {
  bottom: 0;
  text-align:left;
  color: #79E7A4;
  display: table-row;
  position: relative;
  right: 0;
  left: 0;
  padding: 1rem;
} 