@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body{
  
  margin: 0;
  padding: 0%;
 background-image: url(images/marbreR\ .jpg);
 background-size: cover;

 opacity: 90%;
 
  

}
nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-top: 30px;
  
}
nav h1{
  color:#BDBDBD ;
  font-family: 'Audiowide', sans-serif; 
  font-size:40px;
}

a:hover {
  background-color: white;
  
}

.titre1 h1{
  color:black; 
  font-family: 'Audiowide', sans-serif; 
  font-size:40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom:50px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 0 10px black,
  0 0 20px black,
  0 0 40px black;
  
}

ul{
  list-style-type: none;

}

li {
  text-decoration: none;
  
  margin-right: 5px;
  display:inline;
  font-family:"Montserrat",sans-serif;
  font-size: 17px;
  margin-left: 5pt;
}

li a{
  text-decoration: none;
  color:black;
  margin-right: 30px;
  display:inline;
  border-radius: 30%;
  font-family: 'Audiowide', sans-serif; 
  font-size: 25px;
  margin-left: 30px;
  padding: 12px;
  box-shadow: 0 0 10px #100f10,
  0 0 20px,
  0 0 40px #100f10;

}
                   /* partie body */


article h3{
  color: white;
}

.texteP h3 {
  text-align: center;
  color: #fff;
  font-family:'Audiowide' , cursive ;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;

}

.texteP h3 a {

  color:#FFFF ;
  font-family: 'Audiowide' , cursive;
  text-decoration: none;
  
}

.texteP h3 a:hover{

  background-color: #A16C83;
}

.texteP details {

  margin-top: 10px;
  margin-top: 10px;
}

.detail {

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #100f10;
  
  border-color: #CDACB4;
  box-shadow: 0 0 10px #100f10,
  0 0 20px,
  0 0 40px #100f10;
  opacity: 90%;
  position: relative;
  margin: auto;
  width: 300pt;
  margin-bottom: 50px;
  

  
}


details > summary {
  padding: 15px;
  background-color: #FFFF;
  opacity: 90%;
  cursor: progress;
  text-align: center;
  border-radius: 190px;
  font-size: large;
  font-family:"Montserrat",sans-serif;
  color: #100f10;
  font-weight: bold;
  margin-bottom: 20px;
 
}
#text {
  text-align: justify;
}

details > p {
  background-color:white;
  padding: 4px;
  box-shadow: 1px 1px 2px black;
  border-radius: 5%;
  font-family: "Montserrat",sans-serif;
  font-size: medium;
  color: black;
  font-weight: bold;
  
}

.conclusion {

  background-color: #fffeff;
  opacity: 70%;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px  solid black;
  border-radius: 190px;
  margin-left: 65%;
  display: table-cell;
  box-shadow: 0 0 10px #100f10,
  0 0 20px,
  0 0 40px #100f10;



}

.conclusion P {

  font-size: large;
  font-family:"Montserrat",sans-serif;
  color: #100f10;
  font-weight: bold;
  

}

.confirmation {
  background-color: #fffeff;
  opacity: 70%;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px  solid black;
  border-radius: 190px;
  margin-right: 65%;
  display: table-cell;
  box-shadow: 0 0 10px #100f10,
  0 0 20px,
  0 0 40px #100f10;

}

.confirmation p {
  
  font-size: large;
  font-family:"Montserrat",sans-serif;
  color: #100f10;
  font-weight: bold;
  


}


footer {

  color: #100f10;
  position: relative;
  bottom: 0;
  font-weight: bolder;

}

.fin {

  background-color: #fffeff;
  border-color: 2px solid black;


}
