@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');




/* partie en-tête */

body{

  background: url(images/LED.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

/*  BARRE NAV*/
nav{
  display: flex;
  justify-content: center;
  margin-top: 30px;
 
}
nav h1{
  text-align: center;
  
}
a:hover {
  background-color: #fff;
  transition: 3s;
}


li a{
  text-decoration: none;
  opacity: 0.8;
  color:#e684ae;
  margin-right: 30px;
  display:inline;
  border-radius: 30%;
  font-family: 'Audiowide', sans-serif; 
  font-size: 25px;
  margin-left: 30px;
  padding: 12px;
  box-shadow: 0 0 10px #FFFF,
  0 0 20px #FFFF,
  0 0 40px #FFFF;


}
.onglets li{
  display: inline;
  
 }

ul{
  list-style-type: none;
 /* margin: 0;
  padding: 0;*/
  font-size: 15px;
  margin-top: 30px;
}

/* partie body */
.titre{
    
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color:#CDACB4;
    opacity: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px black,
    0 0 20px black,
    0 0 40px black;
  
}
.titre h1{
  
  font-family: 'Audiowide', sans-serif; 
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom:30px;
  margin-left: 30px;
  margin-right: 30px;
}

.article {

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #100f10;
  box-shadow: 0 0 10px #100f10,
  0 0 20px #100f10,
  0 0 40px #100f10;
  opacity: 90%;
  position: relative;
  margin: auto;
  width: 300pt;
  margin-top: 100px;
  
  
  
 
}


.article h2{
  color:floralwhite;
}

.article p{
  color:#FFFF;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
}

.article p a{

  font-family: 'Red Hat Display', sans-serif;
  color: #FFFF;
  text-decoration: none;



}

footer {  
  
  font-family: 'Red Hat Display', sans-serif;
  color: #ffff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  opacity: 90%;
  background-color: #100f10;
  box-shadow: 0 0 10px #100f10,
  0 0 20px #100f10,
  0 0 40px #100f10;

}